*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  overflow: hidden;
  background-color: #f4f1e9;
  background-image: url(../img/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.screen{
  height: 100vh;
  width: 100%;
}
.nav{
  text-align: center;
  color: white;
  background-color: #00cba9;
  height: 7vh;
}
.middle .jam{
  color: white;
  margin-left: 20px;
  padding-right: 100px;
  border-radius: 5px 0px 0px 5px;
  position: absolute;
  background: #00cba9;
  z-index: -101;
}
.jam .kotak{
  float: left;
  margin: 5px;
  font-size: 30px;
}
.middle .back,.isi{
  overflow: hidden;
  border-radius: 5px;
  border: 3px solid #00cba9;
  margin: 0px 10px 10px 190px;
  float: left;
  width: 21%;
  height: 65vh;
}
.middle .back{
  position: absolute;
  border: 1px solid white;
  background-image: linear-gradient(to bottom, rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,0.6));
  filter: blur(4px);
  /* margin: 40px 10px 10px 20px; */
  z-index: -100;
}
.middle .isi{
  /* margin: 40px 10px 10px 20px; */
  padding: 10px;

}
.video{
  text-align: right;
  height: 85vh;
  margin: 10px;
}
.video video{
  height: 65vh;
  border-radius: 15px;
  box-shadow: 2px 2px 10px 0px;
}
.video .kontak{
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 45%;
  height: 15vh;
  padding: 10px;
  margin: 10px;
  color: white;
}
footer{
  line-height: 5vh;
  height: 5vh;
  vertical-align: middle;
  color: white;
  background-color: #00cba9;
  box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.50);
}
